<!-- @format -->
{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<head>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-ebook-landing.css' %}" rel="stylesheet">
</head>
<br/>
<br/>
<br/>
<main>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-12">
                            <nav id="toc-container" class="h-100 flex-column align-items-stretch">
				   <h4>Table of contents</h4>
				   <a href="{% url 'item1' %}">Introduction
				      (item1.html)</a>
				   <a href="{% url 'item2' %}">Section 1 (item2.html)</a>
				  <a href="{% url 'item3' %}">Section 2 (item3.html)</a>
                            </nav>

                        </div>
<div class="col-lg-10 col-12" id="content-container">
 <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 tutorial-content">   

                                    <h5>Introduction</h5>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                    <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus elementum, tempor risus vel, condimentum orci.</p>

                                    <p>You are not allowed to redistribute this template ZIP file on any other template collection website. Please contact TemplateMo for more information.</p>

 </div>
 <div class="row">
                                        <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/portrait-mature-smiling-authoress-sitting-desk.jpg' %}" class="scrollspy-example-item-image img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/businessman-sitting-by-table-cafe.jpg' %}" class="scrollspy-example-item-image img-fluid" alt="">
                                        </div>
                                    </div>

                                    <p>If you need some specific CSS templates, you can Google with keywords such as templatemo gallery, templatemo digital marketing, etc.</p>
				</div>
 </div>
 </div>
        <!-- Tutorial content will be dynamically loaded here -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="script2.js"></script>
			
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
