<!-- @format -->
<style>
   .section-footer
   {
	   background-color: black;
   }
</style>
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted">&copy 2024 iSchooly</p>
      </div>
      <div class="col-md-7 text-md-center">
        <span class="px-2 text-white">info@ischooly.io</span>
        <span class="px-2 text-white">+000-000-0000</span>
        <span class="px-2 text-white">Street name 123, Avanue abc</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
