{% extends 'base.html' %}
{%load static%}
{% block content %}                                <div class="scrollspy-example-item" id="item-3">
                                    <h5>Work less, do more</h5>

                                    <p>Credit goes to
				       <a rel="nofollow" href="#" target="_blank">FreePik</a> for images used in this ebook landing page template. You may browse FreePik to download more free images for your website.</p>
                                    <p>This is a second paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

                                    <p>Lorem ipsum dolor sit amet, consive adipisicing elit, sed do eiusmod. tempor incididunt ut labore.</p>

                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-12">
                                            <img src="{% static 'images/tablet-screen-contents.jpg' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <p>Modern ebook ever</p>

                                            <p><strong>Lorem ipsum dolor sit amet, consive adipisicing elit, sed do eiusmod. tempor incididunt.</strong></p>
                                        </div>
                                    </div>
                                </div>
{% endblock %}